<!DOCTYPE html>
<html
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:th="http://www.thymeleaf.org"
        layout:decorate="~{global/layouts/layout}">

<div layout:fragment="content">
<h1>회원수정 폼</h1>

<form id="modifyForm" th:action="@{/customer/modify}" method="post">
    <div>
        <span>이름</span>
        <input type="text" th:field="${c.name}" placeholder="이름을 입력해주세요.">
    </div>
    <div>
        <span>이메일</span>
        <input id="email" type="text" th:field="${c.email}" placeholder="이메일을 입력해주세요.">
        <input type="button" value="중복확인" onclick="checkDuplicateEmail()">
    </div>
    <div>
        <span>주소</span>
        <input type="text" th:field="${c.address}" placeholder="주소를 입력해주세요.">
    </div>
    <div>
        <span>전화번호</span>
        <input type="text" th:field="${c.tel}" placeholder="'-' 뺴고 입력해주세요">
    </div>
    <div>
        <input type="button" value="수정" onclick="modifyConfirm()"/>
    </div>
    <a href="/" class="inline-flex">홈으로</a>
</form>
</div>

<div layout:fragment="script">
    <script>
        function modifyConfirm() {
            if(!confirm("수정하시겠습니까?")) {
                return false;
            } else {
                document.getElementById("modifyForm").submit();
                alert("수정이 완료되었습니다!");
            }
        }
    </script>
</div>
</html>