.navbar{
    width:100%;
    background-color:   black;
    padding: 15px 0px;
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.navbarMenu{
    color:white;
    margin: 8px;
    text-decoration: none;    
}

.user-section{
    position:absolute;
    right: 70px;
    display:flex;
    .navbarMenu{
        
        &:hover{
            color:gold
        }
}
}

//검색창
.search-box{
    display: flex;
    border: 1px; 


}
.box{
    width:330px;
    height:30px;
    outline: none;
}
.categorybox{
    position: relative;
    display: flex;
    color:#ddd;
    left: -33rem;
    font-size: 18px;
    font-weight: 500;
    line-height: 20px;
    height:100%;
    padding:0.4rem;
    &:hover{
        color:gold
    }
    .category{
        margin-left:0.3rem;
    }
    .subcategory-list {
        display: none;
        position: absolute;
        list-style: none;
        padding: 0;
        margin: 0;
        background-color: #f9f9f9;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        z-index: 1;
        top:2rem;
        left:-5px;
            li {
                padding: 10px;
                cursor: pointer;
        
                    &:hover {
                    background-color: #ddd;
                    }
            }
        }
    
        &:hover .subcategory-list {
        display: block;
        color: black;
        }

    }